html { 
    /* background-color: rgba(65,179,163,0.25); */
    /* background-image: url('https://images.unsplash.com/photo-1526280760714-f9e8b26f318f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1867&q=80'); */
  
    /* background-color: white; */
    /* background-color: rgba(234,231,220); */
    
  }
  
  .login-box{
    left: 65%;
      top: 50%;
      margin-left: -27%;
      position: absolute;
      margin-top: -15%;
      padding: 20px;
      border: 1px solid gray;
      background-color: rgba(255,255,255, 0.75);
    /* padding-top: 20px;
    padding-right: 60px;
    padding-bottom: 60px;
    padding-left: 60px;
    width: 30%;
    height: 75%;
    border: solid gray;
    margin: 150px; */
  }